mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
server:
  port: ${port}
  shutdown: graceful
  forward-headers-strategy: framework
spring:
  datasource:
    hikari:
      connection-init-sql: SET NAMES utf8mb4 COLLATE utf8mb4_0900_ai_ci
      idle-timeout: 600000
      maximum-pool-size: 10
      minimum-idle: 2
  flyway:
    locations:
      - classpath:flyway
    table: t_flyway_history
  jackson:
    default-property-inclusion: non_null
    property-naming-strategy: SNAKE_CASE
    time-zone: GMT+8
  main:
    allow-circular-references: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  profiles:
    active: dev
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
springdoc:
  swagger-ui:
    path: /docs
    url: /v3/api-docs
