<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package_name}.mappers.RolePermissionMapper">
    <sql id="rolePermissionColumns">
        `role_permission`.`id`,
        `role_permission`.`role_id`,
        `role_permission`.`permission_id`,
        `role_permission`.`create_time`,
        `role_permission`.`update_time`
    </sql>

    <sql id="rolePermissionTables">
        `t_role_permission` `role_permission`
    </sql>

    <sql id="rolePermissionSearchWhere">
        <if test="request.roleId != null">
            AND `role_permission`.`role_id` = #{request.roleId}
        </if>
        <if test="request.permissionId != null">
            AND `role_permission`.`permission_id` = #{request.permissionId}
        </if>
        <if test="request.createTimeFrom != null">
            AND `role_permission`.`create_time` &gt;= #{request.createTimeFrom}
        </if>
        <if test="request.createTimeTo != null">
            AND `role_permission`.`create_time` &lt;= #{request.createTimeTo}
        </if>
        <if test="request.updateTimeFrom != null">
            AND `role_permission`.`update_time` &gt;= #{request.updateTimeFrom}
        </if>
        <if test="request.updateTimeTo != null">
            AND `role_permission`.`update_time` &lt;= #{request.updateTimeTo}
        </if>
    </sql>

    <insert id="insertRolePermission" useGeneratedKeys="true" keyProperty="rolePermission.id">
        INSERT INTO `t_role_permission`(
        `role_id`,
        `permission_id`,
        `create_time`,
        `update_time`)
        VALUES(
        #{rolePermission.roleId},
        #{rolePermission.permissionId},
        NOW(),
        NOW())
    </insert>

    <insert id="insertOrUpdateRolePermission">
        INSERT INTO `t_role_permission`(
        `role_id`,
        `permission_id`,
        `create_time`,
        `update_time`)
        VALUES(
        #{rolePermission.roleId},
        #{rolePermission.permissionId},
        NOW(),
        NOW())
        ON DUPLICATE KEY UPDATE
        `role_id` = #{rolePermission.roleId},
        `permission_id` = #{rolePermission.permissionId},
        `update_time` = NOW()
    </insert>

    <insert id="insertOrUpdateRolePermissionPartly">
        INSERT INTO `t_role_permission`(
        `role_id`,
        `permission_id`,
        `create_time`,
        `update_time`)
        VALUES(
        #{rolePermission.roleId},
        #{rolePermission.permissionId},
        NOW(),
        NOW())
        ON DUPLICATE KEY UPDATE
        <if test="request.roleId != null">
            `role_id` = #{request.roleId},
        </if>
        <if test="request.permissionId != null">
            `permission_id` = #{request.permissionId},
        </if>
        `update_time` = NOW()
    </insert>

    <delete id="deleteRolePermission">
        DELETE FROM `t_role_permission`
        WHERE `id` = #{id}
    </delete>

    <select id="selectRolePermissionById" resultType="${package_name}.models.RolePermission">
        SELECT
        <include refid="rolePermissionColumns"/>
        FROM
        <include refid="rolePermissionTables"/>
        WHERE `role_permission`.`id` = #{id}
        LIMIT 1
    </select>

    <select id="selectPagingRolePermissions" resultType="${package_name}.models.RolePermission">
        SELECT
        <include refid="rolePermissionColumns"/>
        FROM
        <include refid="rolePermissionTables"/>
        <where>
            <include refid="rolePermissionSearchWhere"/>
        </where>
        <choose>
            <when test="request.sortOrders != null and request.sortOrders.size() != 0">
                ORDER BY
                <foreach collection="request.sortOrders" item="sortOrder" separator=",">
                    $${sortOrder.field} $${sortOrder.direction}
                </foreach>
            </when>
            <otherwise>
                ORDER BY `role_permission`.`id` DESC
            </otherwise>
        </choose>
        LIMIT #{request.paging.offset}, #{request.paging.pageSize}
    </select>

    <select id="selectRolePermissionsCount" resultType="Long">
        SELECT COUNT(*)
        FROM
        <include refid="rolePermissionTables"/>
        <where>
            <include refid="rolePermissionSearchWhere"/>
        </where>
    </select>
</mapper>
