stages:
  - package
  - build

gradle-package:
  image: gradle:9.3.0-jdk25-alpine
  stage: package
  script:
    - gradle --build-cache assemble
  artifacts:
    paths:
      - build/libs/app.jar
    expire_in: '1 hour'
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .gradle/
  only:
    - main

docker-build:
  image: docker:latest
  stage: build
  dependencies:
    - gradle-package
  script:
    - echo "$CI_DEPLOY_PASSWORD" | docker login $CI_REGISTRY -u $CI_DEPLOY_USER --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  only:
    - main
