<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package_name}.mappers.${model_upper_camelcase}Mapper">
    <sql id="${model_camelcase}Columns">
${column_list}
    </sql>

    <sql id="${model_camelcase}Tables">
        `${table_name}` `${model_camelcase}`
    </sql>

    <sql id="${model_camelcase}SearchWhere">
${search_where}
    </sql>

    <insert id="insert${model_upper_camelcase}" useGeneratedKeys="true" keyProperty="${model_camelcase}.id">
        INSERT INTO `${table_name}`(
${name_list})
        VALUES(
${value_list})
    </insert>

    <update id="update${model_upper_camelcase}">
        UPDATE `${table_name}` SET
${update_list}
        WHERE `id` = #{${model_camelcase}.id}
        AND `is_delete` = 0
    </update>

    <update id="update${model_upper_camelcase}Partly">
        UPDATE `${table_name}` SET
${update_partly_list}
        WHERE `id` = #{request.id}
        AND `is_delete` = 0
    </update>

    <update id="delete${model_upper_camelcase}">
        UPDATE `${table_name}`
        SET `is_delete` = 1
        <where>
            AND `id` = #{id}
            AND `is_delete` = 0
        </where>
    </update>

    <select id="select${model_upper_camelcase}ById" resultType="${package_name}.models.${model_upper_camelcase}">
        SELECT
        <include refid="${model_camelcase}Columns"/>
        FROM
        <include refid="${model_camelcase}Tables"/>
        <where>
            AND `${model_camelcase}`.`id` = #{id}
            AND `${model_camelcase}`.`is_delete` = 0
        </where>
        LIMIT 1
    </select>

    <select id="selectPaging${model_upper_camelcase}s" resultType="${package_name}.models.${model_upper_camelcase}">
        SELECT
        <include refid="${model_camelcase}Columns"/>
        FROM
        <include refid="${model_camelcase}Tables"/>
        <where>
            <include refid="${model_camelcase}SearchWhere"/>
        </where>
        <choose>
            <when test="request.sortOrders != null and request.sortOrders.size() != 0">
                ORDER BY
                <foreach collection="request.sortOrders" item="sortOrder" separator=",">
                    $${sortOrder.field} $${sortOrder.direction}
                </foreach>
            </when>
            <otherwise>
                ORDER BY ${orders}
            </otherwise>
        </choose>
        LIMIT #{request.paging.offset}, #{request.paging.pageSize}
    </select>

    <select id="selectPaging${model_upper_camelcase}sCount" resultType="Long">
        SELECT COUNT(*)
        FROM
        <include refid="${model_camelcase}Tables"/>
        <where>
            <include refid="${model_camelcase}SearchWhere"/>
        </where>
    </select>
</mapper>