<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package_name}.mappers.UserMapper">
    <sql id="userColumnsBasic">
${column_list}
    </sql>

    <sql id="userColumnsPassword">
        `user`.`password`,
        `user`.`salt`
    </sql>

    <sql id="userColumns">
        <include refid="userColumnsBasic"/>
    </sql>

    <sql id="userColumnsWithPassword">
        <include refid="userColumnsBasic"/>,
        <include refid="userColumnsPassword"/>
    </sql>

    <sql id="userTables">
        `t_user` `user`
    </sql>

    <sql id="userSearchWhere">
${search_where}
    </sql>

    <insert id="insertOrUpdateUser" useGeneratedKeys="true" keyProperty="user.id">
        INSERT INTO `t_user`(
        <if test="user.id != 0">`id`,</if>
${name_list})
        VALUES(
        <if test="user.id != 0">#{user.id},</if>
${value_list})
        ON DUPLICATE KEY UPDATE
${update_list}
    </insert>

    <update id="updateUserPartly">
        UPDATE `t_user` SET
${partly_update_list}
        WHERE `id` = #{request.id}
    </update>

    <delete id="deleteUser">
        DELETE FROM `t_user`
        WHERE `id` = #{id}
    </delete>

    <select id="selectUser" resultType="${package_name}.models.User">
        SELECT
        <include refid="userColumns"/>
        FROM
        <include refid="userTables"/>
        <where>
            <include refid="userSearchWhere"/>
        </where>
        <choose>
            <when test="request.sortOrders != null and request.sortOrders.size() != 0">
                ORDER BY
                <foreach collection="request.sortOrders" item="sortOrder" separator=",">
                    $${sortOrder.field} $${sortOrder.direction}
                </foreach>
            </when>
            <otherwise>
                ORDER BY `user`.`id` DESC
            </otherwise>
        </choose>
        LIMIT 1
    </select>

    <select id="selectUserWithPassword" resultType="${package_name}.models.User">
        SELECT
        <include refid="userColumnsWithPassword"/>
        FROM
        <include refid="userTables"/>
        <where>
            <include refid="userSearchWhere"/>
        </where>
        <choose>
            <when test="request.sortOrders != null and request.sortOrders.size() != 0">
                ORDER BY
                <foreach collection="request.sortOrders" item="sortOrder" separator=",">
                    $${sortOrder.field} $${sortOrder.direction}
                </foreach>
            </when>
            <otherwise>
                ORDER BY `user`.`id` DESC
            </otherwise>
        </choose>
        LIMIT 1
    </select>

    <select id="selectUsers" resultType="${package_name}.models.User">
        SELECT
        <include refid="userColumns"/>
        FROM
        <include refid="userTables"/>
        <where>
            <include refid="userSearchWhere"/>
        </where>
        <choose>
            <when test="request.sortOrders != null and request.sortOrders.size() != 0">
                ORDER BY
                <foreach collection="request.sortOrders" item="sortOrder" separator=",">
                    $${sortOrder.field} $${sortOrder.direction}
                </foreach>
            </when>
            <otherwise>
                ORDER BY `user`.`id` DESC
            </otherwise>
        </choose>
        LIMIT #{request.paging.offset}, #{request.paging.pageSize}
    </select>

    <select id="selectUsersCount" resultType="Long">
        SELECT COUNT(*)
        FROM
        <include refid="userTables"/>
        <where>
            <include refid="userSearchWhere"/>
        </where>
    </select>

    <select id="selectRolesByUserId" resultType="${package_name}.models.Role">
        SELECT
        <include refid="${package_name}.mappers.RoleMapper.roleColumns"/>
        FROM
        <include refid="${package_name}.mappers.RoleMapper.roleTables"/>
        WHERE `role`.`id` IN (SELECT `role_id` FROM `t_user_role` `user_role` WHERE `user_role`.`user_id` = #{userId})
    </select>

    <select id="selectPermissionsByUserId" resultType="${package_name}.models.Permission">
        SELECT
        <include refid="${package_name}.mappers.PermissionMapper.permissionColumns"/>
        FROM
        <include refid="${package_name}.mappers.PermissionMapper.permissionTables"/>
        WHERE `permission`.`id` IN (SELECT `permission_id` FROM `t_role_permission` `role_permission` WHERE `role_permission`.`role_id` IN (SELECT `role_id` FROM `t_user_role` `user_role` WHERE `user_role`.`user_id` = #{userId}))
    </select>
</mapper>
